.u-section-1 {
  background-image: url("images/login.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-text-1 {
  letter-spacing: 6px;
  font-family: Bayon;
  font-size: 3rem;
  margin: 92px 101px 0 368px;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 6px;
  font-weight: 700;
  font-family: Bayon;
  margin: 56px 262px 60px auto;
  padding: 10px 111px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-top: 60px;
    margin-left: 268px;
    margin-right: 1px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 62px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-left: 49px;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
    padding-left: 94px;
    padding-right: 94px;
  }
}.u-section-2 {
  min-height: 810px;
}

.u-section-2 .u-group-1 {
  width: 570px;
  min-height: 290px;
  margin: 26px auto 0 calc(((100% - 1140px) / 2)  + -38px);
}

.u-section-2 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-family: Bayon;
  margin: 32px 164px 0 0;
}

.u-section-2 .u-text-2 {
  font-family: Bayon;
  margin: 22px 0 0 1px;
}

.u-section-2 .u-image-1 {
  height: 518px;
  object-position: 50% 81.55%;
  margin-top: 36px;
  margin-bottom: 0;
}

.u-section-2 .u-list-1 {
  min-height: 250px;
  grid-template-columns: repeat(4, calc(25% - 16.5px));
  width: 1071px;
  grid-gap: 22px;
  margin: -554px calc(((100% - 1140px) / 2)) 0 auto;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-icon-1 {
  height: 44px;
  width: 44px;
  background-image: none;
  margin: 0 auto;
}

.u-section-2 .u-text-3 {
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 3px;
  font-family: Bayon;
  font-weight: 400;
  margin: 30px 0 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-icon-2 {
  height: 44px;
  width: 44px;
  background-image: none;
  margin: 0 auto;
}

.u-section-2 .u-text-4 {
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 3px;
  font-family: Bayon;
  font-weight: 400;
  margin: 30px 0 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-icon-3 {
  height: 44px;
  width: 44px;
  background-image: none;
  margin: 0 auto;
}

.u-section-2 .u-text-5 {
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 3px;
  font-family: Bayon;
  font-weight: 400;
  margin: 30px 0 0;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px;
}

.u-section-2 .u-icon-4 {
  height: 44px;
  width: 44px;
  background-image: none;
  margin: 0 auto;
}

.u-section-2 .u-text-6 {
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 3px;
  font-family: Bayon;
  font-weight: 400;
  margin: 30px 0 0;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 6px;
  margin: 194px calc(((100% - 1140px) / 2)  + -1221px) 0 auto;
  padding: 10px 111px;
}

.u-section-2 .u-btn-2 {
  border-style: none none solid;
  font-size: 1.25rem;
  font-family: Bayon;
  text-transform: none;
  letter-spacing: normal;
  margin: -64px calc(((100% - 1140px) / 2)  + -53px) 32px auto;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 {
    min-height: 766px;
  }

  .u-section-2 .u-group-1 {
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-list-1 {
    min-height: 238px;
    grid-template-columns: repeat(3, calc(33.3333% - 14.6667px));
    height: auto;
    width: 711px;
    margin-top: -528px;
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-icon-1 {
    color: rgb(208, 175, 135) !important;
  }

  .u-section-2 .u-icon-2 {
    color: rgb(0, 0, 0) !important;
  }

  .u-section-2 .u-icon-3 {
    color: rgb(208, 175, 135) !important;
  }

  .u-section-2 .u-icon-4 {
    color: rgb(208, 175, 135) !important;
  }

  .u-section-2 .u-btn-1 {
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-btn-2 {
    margin-right: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
  .u-section-2 {
    min-height: 1191px;
  }

  .u-section-2 .u-group-1 {
    width: 720px;
    min-height: 240px;
    margin-left: auto;
  }

  .u-section-2 .u-image-1 {
    margin-top: 209px;
  }

  .u-section-2 .u-list-1 {
    min-height: 540px;
    grid-template-columns: repeat(2, calc(50% - 11px));
    width: 672px;
    margin-top: -616px;
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2)  + 24px);
  }

  .u-section-2 .u-btn-1 {
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-btn-2 {
    margin-right: calc(((100% - 720px) / 2));
    margin-bottom: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-group-1 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    height: 419px;
  }

  .u-section-2 .u-list-1 {
    width: 484px;
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2)  + 28px);
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-2 .u-btn-1 {
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-btn-2 {
    margin-right: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-group-1 {
    width: 340px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
  }

  .u-section-2 .u-image-1 {
    height: 620px;
  }

  .u-section-2 .u-list-1 {
    grid-template-columns: 100%;
    width: 340px;
    margin-top: -750px;
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-btn-1 {
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-btn-2 {
    margin-right: calc(((100% - 340px) / 2));
    margin-bottom: 32px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 812px;
}

.u-section-3 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 4px;
  background-image: none;
  width: 313px;
  font-weight: 300;
  font-family: Bayon;
  margin: 151px auto 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.5rem;
  letter-spacing: 4px;
  font-family: Bayon;
  margin: 20px 86px 0 34px;
}

.u-section-3 .u-btn-1 {
  font-family: Bayon;
  padding: 0;
}

.u-section-3 .u-btn-2 {
  border-style: none none solid;
  font-size: 1.25rem;
  font-family: Bayon;
  margin: -33px 86px 60px auto;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-2 {
    margin: -47px 60px 44px;
  }

  .u-section-3 .u-btn-2 {
    text-transform: none;
    letter-spacing: normal;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-2 {
    margin-top: -248px;
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-4 {
  min-height: 807px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 807px;
  background-image: none;
}

.u-section-4 .u-container-layout-1 {
  padding: 0 175px 30px 30px;
}

.u-section-4 .u-text-1 {
  font-family: Bayon;
  font-weight: 700;
  background-image: none;
  margin: 61px -73px 0 73px;
}

.u-section-4 .u-image-1 {
  width: 1302px;
  height: 605px;
  margin: 30px -150px 0 -57px;
}

.u-section-4 .u-btn-1 {
  border-style: none none solid;
  font-size: 1.25rem;
  font-family: Bayon;
  margin: -596px auto 0 554px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-4 {
    min-height: 582px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 665px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-image-1 {
    width: 265px;
    height: 123px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-btn-1 {
    text-transform: none;
    letter-spacing: normal;
    margin-top: -333px;
    margin-left: 354px;
    font-weight: 400;
  }
}

@media (max-width: 991px) {
  .u-section-4 {
    min-height: 442px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-right: 30px;
    padding-left: 75px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: -298px;
    margin-left: 279px;
  }
}

@media (max-width: 767px) {
  .u-section-4 {
    min-height: 772px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: -233px;
    margin-left: 139px;
  }
}

@media (max-width: 575px) {
  .u-section-4 {
    min-height: 517px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: -140px;
    margin-left: 0;
  }
}